<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>First NODE</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/app.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Use This site to get your weather..</p>

        <form>
            <input type="text" placeholder="Search For Location">

            <button type="submit">Submit</button>

        </form>
        <p id='message-1'></p>
        <p id='message-2'></p>
    </div>
    {{>footer}}
</body>

</html>